set -e
DIR=`pwd`

PATH_add $DIR/.direnv/bin

init() {
  if [ ! -d $DIR/$1/node_modules ]; then
    cd $DIR/$1
    rm -rf bun.lockb
    bun i
    cd $DIR
  fi
}

[[ -f "./conf/env.sh" ]] && . ./conf/env.sh

init .

