pnpm-lock.yaml                               
node_modules/
*.lockb
*.swp  
.DS_Store

public/.well-known/apple-developer-merchantid-domain-association

vite.config.js.timestamp-*.mjs

/dist.*/
/dist/
/i18n/.i18n/.cache
/i18n/.i18n/.hash
/node_modules/
/src/conf.js
/src/index.html
/src/styl/plugin.styl
/src/styl/svg.styl

/.gen/
/conf/
/package.json
