@import '~/styl/var.styl'

h1
  background logo-bg
  background-clip text
  color transparent
  font-family h
  font-size 38px
  font-variation-settings 'wght' 900, 'BEVL' 90
  margin 24px 16px
  position relative
  user-select none
  -webkit-background-clip text
