@import '~/styl/var.styl'

h1
  background logo-bg
  background-clip text
  color transparent
  display flex
  font-family h
  font-size 38px
  font-variation-settings 'wght' 900, 'BEVL' 90
  justify-content center
  margin 12px 16px 0
  position relative
  user-select none
  -webkit-background-clip text
